					<div class="scrollable">
						<div class="scrollable-content">
							<div class="list-group">
								<div class="list-group-item">
									<h1>Английский без&#160;регистрации
									<br />
									<small>Материалы для&#160;изучающих английский</small></h1>
								</div>
								<div class="list-group-item media">
									<div class="pull-right">
										<i class="fa fa-navicon feature-icon text-primary"></i>
									</div>
									<div class="media-body">
										<h3 class="media-heading">Навигация</h3>
										На узких дисплеях, когда боковая панель навигации скрыта, пользуйтесь значком меню в&#160;левом верхнем углу
									</div>
								</div>
								<div class="list-group-item media">
									<div class="pull-right">
										<i class="fa fa-github-alt feature-icon text-primary"></i>
									</div>
									<div class="media-body">
										<h3 class="media-heading">Конфиденциальность</h3>
										Это приложение не&#160;собирает и&#160;не&#160;отправляет никакой информации о&#160;пользователе, за&#160;исключением статистики просмотра страниц, отсылаемой кодом счетчика Google Analytics. Исходный код доступен всем по URL: github.com/englishextra/shimansky.biz-app
									</div>
								</div>								
							</div>
						</div>
					</div>